@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #CA5065;
}

.App {
  width: 300px;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #F54366;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

input:focus{
  border: 2px solid #F54366;
  transition: .2s;
}

.task-input button {
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

button {
  background-color: #754B56;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #CAA7B1;
}
